body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 22px;
    font-size: 12px;
}





/* Content */




.content {
    clear: both;
}
.content .buddyicon {
    float: left;
    width: 22px;
    height: 22px;
}
.content .time {
    color: #667;
    float: left;
    margin-left: 5px;
}
.content .sender {
    min-width: 90px;
    float: left;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}

.content.incoming .sender .nick {
    font-weight: normal;
}
.content.outgoing .sender .nick {
    font-weight: bold;
}

.content .message {
    padding-left: 162px;
}

.content .buddyicon img {
    width: 20px;
    height: 20px;
    margin: 1px;
}


.content.history {
    color: #555;
    background-color: #aaa;
}




/* Status */
.status {
    clear: both;
}

.status span {
    color: #669 !important;
}
